body {
    margin: 0;
}

.top {
    text-decoration: none;
    display: block;
    width: 25%;
    background-color: rgb(15, 7, 66);
    color: white;
    padding-top: 17px;
    padding-bottom: 17px;
    text-align: center;
    font-size: 23px;
    transition: 0.5s;
}

.top:hover {
    background-color: rgb(38, 29, 124);
}

.menu {
    display: flex;
    font-family: 'Fjalla One', sans-serif;
}